trunk/KomponentiPD2/InventorySolution/InventoryWPFApplication/Service References/UserServiceReference/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1830/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" />
  <xs:element name="logIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:double" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reservePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reservePartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservePartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPartByDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPartByDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" minOccurs="0" name="searchPartByDescriptionResult" nillable="true" type="q1:ArrayOfInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllParts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" minOccurs="0" name="getAllPartsResult" nillable="true" type="q2:ArrayOfInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateTotal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateTotalResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateReserved">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateReservedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateReservedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateBalance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateBalanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findOrderItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findOrderItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" minOccurs="0" name="findOrderItemByIdResult" nillable="true" type="q3:OrderItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventoryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrderItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" minOccurs="0" name="getCurrentUserResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShoppingCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShoppingCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" minOccurs="0" name="getShoppingCartResult" nillable="true" type="q5:ArrayOfInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>